USE [master]
GO
CREATE DATABASE [Contacto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Contacto', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Contacto.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Contacto_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Contacto_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contacto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contacto]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TblContacto](
	[id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [TblContacto] ([id], [Nombre], [Telefono]) VALUES (1, N'juana de arco', N'1234567')
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [SPContacto]
@opc int,
 @id int =null,
 @Nombre varchar(50)=null,
 @Telefono varchar(20)=null
 as
 if @opc =1
 begin
 select * from TblContacto
 end
GO
USE [master]
GO
